/* * {
    border: solid 1px red;
} */

body {
    margin: 0px;
    padding: 0px;
}

.weather-header {
    background: linear-gradient(101deg, rgba(28, 55, 255, 1) 0%, rgba(11, 0, 27, 1) 100%);
    color: white;
    margin-bottom: 50px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.search-history-button {
    background-color: #d9efff;
    box-shadow: 0 8px 6px -5px gray;
    color: black;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    width: fit-content;
    padding: 10px 20px;
}

.search-history-button:hover {
    background-color: #b8c8ff;
    box-shadow: 0 8px 6px -5px gray;
    color: black;
    margin-top: 10px;
    width: 185px;
    border-radius: 5px;
}

.current-weather-card {
    background-color: #d9efff;
    border-radius: 5px;
    box-shadow: 0 8px 6px 0px gray;
}

.forecast-card {
    margin: 10px;
    padding: 10px;
    background-color: #d9efff;
    border-radius: 5px;
    box-shadow: 0 8px 6px 0px gray;
    width: 20%;
}


.hidden {
    display: none;
}

#form-heading {
    text-align: center;
}

#search-button {
    background-color: rgba(23, 124, 255, 0.865);
    box-shadow: 0 8px 6px -5px gray;
    color: white;
    margin-top: 10px;
    width: 185px;
    border-radius: 5px;

}

#search-button:hover {
    background-color: white;
    color: rgba(23, 124, 255, 0.865);
    border-color: rgba(23, 124, 255, 0.865);
}



#current-weather-card {
    padding: 15px;
    display: block;


}

#todays-weather {
    margin-bottom: 20px;
}

#forecast-wrapper {
    margin-top: 20px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}



#forecast {
    margin: 0px;
}

#forecast-header {
    margin-top: 40px;
}


/* media query */

@media only screen and (max-width: 425px) {
    .forecast-card {
        width: 43%;
    }

    #form-heading {
        text-align: center;
    }

    .input-group {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .search-history-button {
        max-width: fit-content;
        padding: 10px 20px;
        margin: auto;
    }

}




@media only screen and (max-width: 768px) {
    #search-button {
        display: inline-block;

    }

    .search-history-button {
        max-width: fit-content;
        padding: 10px 20px;
    }
}

@media only screen and (max-width: 425px) {
    #forecast-wrapper {
        margin-top: 20px;
        justify-content: start;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }
}